/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li,
form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
    padding: 0.5em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #555;
}

section {
    padding: 1em;
    margin: 1em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
}

section img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

form {
    margin-top: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input,
textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #444;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #555;
}
